
html
{
	height: 100%
}
body
{
	height: 100%;
	padding: 0px;
	margin: 0px;
}
body, span, div, td, input, select, textarea
{
	font-family: Tahoma;
	font-size: 10pt;
	color: #000000;
    margin-left: 0px;
}
img 
{
	border-style: none;
    }
TABLE.container
{
	border-style: none;
	width: 100%; 
	height: 100%; 
	background-image: url('Image/left.gif'); 
	background-repeat: repeat-y; 
	background-position: left top
}
TD.white
{
	background-image: url('Image/top.gif'); 
	background-repeat: repeat-x; 
	background-position: top
}
A:link, A:visited, A:active
{
    font-size: 12px;
    line-height: 18px;
    color: #003399;
    font-family: Arial;
    text-decoration: none
}
A:hover
{
	color: #798073;
	text-decoration: underline
}
.title
{
	font-family: Arial;
	font-size: 19px;
	margin-bottom: 20px
}
.subtitle
{
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px
}
.button
{
	border: solid 1px #000000
}
.caption
{
	white-space: nowrap
}
.footnote
{
	margin-top: 20px;
	font-size: 12px
}
A.footnote:link, A.footnote:visited, A.footnote:active
{
    font-size: 12px;
    color: #003399;
    text-decoration: none
}
A.footnote:hover
{
	color: #798073;
	text-decoration: underline
}
.error
{
	color: Red
}
.welcome
{
	font-size: 12px
}
A.welcome:link, A.welcome:visited, A.welcome:active
{
    font-size: 12px;
    color: #003399;
    text-decoration: none
}
A.welcome:hover
{
	color: #798073;
	text-decoration: underline
}
.pageTitle
{
    font-size: 16pt;
    color: #ff8000;
    font-family: Verdana, Arial
}
.pagesize
{
    font-size: 8pt;
    color: #999999;
    font-family: Verdana, Arial
}
.calendar .ajax__calendar_container {
    border:1px solid #d4d0c8;
    background-color: #e1ecfc;
    font-family: Verdana, Arial
}
.calendar .ajax__calendar_active .ajax__calendar_day, .calendar .ajax__calendar_active .ajax__calendar_month, .calendar .ajax__calendar_active .ajax__calendar_year 
{
    color: black;
    font-weight:bold;
    font-family: Verdana, Arial
}
.calendar .ajax__calendar_other .ajax__calendar_day, .calendar .ajax__calendar_other .ajax__calendar_month, .calendar .ajax__calendar_other .ajax__calendar_year 
{	
    color: black;
    font-family: Verdana, Arial
}
.calendar .ajax__calendar_hover .ajax__calendar_day, .calendar .ajax__calendar_hover .ajax__calendar_month, .calendar .ajax__calendar_hover .ajax__calendar_year 
{
	color: #ffffff;
	background-color: #003399;
    font-family: Verdana, Arial
}
.pager
{
	font-weight: bold;
	background-color: #e1ecfc;
}
.pager span
{
	padding-left: 4px;
	padding-right: 4px;
	border: solid 1px #003399;
	color: #ffffff;
	background-color: #6699FF;
}
.pager A:link, .pager A:visited, .pager A:active
{
    font-size: 12px;
    color: #003399;
    text-decoration: none
}
.pager A:hover
{
	color: #798073;
	text-decoration: underline
}
/*Textbox Watermark*/

.unwatermarked {
	height:18px;
	width:148px;
}

.watermarked {
	height:20px;
	width:150px;
	padding:2px 0 0 2px;
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}	