tr{

	width: 700px;
	height: 30px;
	/*display: block;*/
}

td{
	width: 350px;
}
td:first-child{
	width: 250px;	
}

#first td *{
	width:120%;
}
textarea:disabled, input:disabled{
        
       background-color: rgb(235, 235, 228);
        
    }

textarea {
	resize: none;s
	height: 40px;
}
 .vergi {
  width: 110% !important;
  display: inline;
  float: left;
}
.vergi *{
	
	width: 68% !important;

}
select {
	width: 160px;
}


*{
	color:#8C8C8C;
	font-weight: bold;
}
.baslik{
	font-family: 'Berlin Sans FB';
	font-size: 28px;
	font-weight: 200;
}

span{
	font-weight:normal;
}
#firma-kaydet{
	margin-left: 61%;
}
#personel-kaydet{
	margin-left: 44%;
}

header{
	height: 100px;
	background-color: #8C8C8C;
}
header nav{
	position: relative;
	top: 70px;
	left: 275px;
}
}
button{
	color: white;
	background-image: url(/../img/bg.gif);
}
.icon-div img{
	float: left;
	height: 20px;
	width: 20px;
}
.delete img{
	float:right;
}
.bottom-right-button button{
	float:left;
	margin-left: 0!important;
}
.bottom-right-button{  
	padding-left: 50%;
	  padding-bottom: 6px;
}
.form-control {
	width: 50%!important;
}
#personel-ekleme-tablo input,#personel-ekleme-tablo select{
	  width: 60%;
}

* {
 	font-family:Arial !important;
 }
#projeler .icon-div img {
	float:right;


}
/*****************************/
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #8C8C8C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #8C8C8C;background: #EBEBEB;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #F5F5F5;border: 1px solid #8C8C8C;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7D7D7D; color: #F5F5F5; background: none; background-color:#8C8C8C;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !importan